APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=circular_economy
DB_USERNAME=app_user
DB_PASSWORD=change_me

AI_PROVIDER=
AI_API_KEY=

MAP_PROVIDER=
MAP_API_KEY=
